@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --corPrimeira: #4169e1;
    --corSecundaria: #008080;
    --terceiraCor: #001f3f;
}

.layout{
    background-color: var(--terceiraCor)
}

img{
    max-height: 100%;
}

input, textarea,select{
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2; 
}

input:focus, textarea:focus, select:focus{
    @apply border-blue-900;
}

h1{
    @apply text-blue-900 mb-2 text-xl;
}

h2{
    @apply text-gray-800  mt-6 mb-2 text-lg;
}

label{
    @apply text-blue-900;
}

.btn-primary{
    @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic{
    @apply w-full;
}

table.basic thead tr td{
    @apply bg-blue-100;
}

table.basic tr td{
    @apply border border-blue-200 p-1;
}

table.basic a{
    @apply bg-blue-900 text-white text-sm py-1 px-2 
    rounded-md inline-flex gap-1 mr-1;
}

.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md;
}

.btn-red{
    @apply bg-red-800 text-white;
}

.btn-default{
    @apply bg-gray-500 text-white;
}
.form{
    background-color: #001f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #001f3f;
    width: 300px;
}

.login-container h2 {
    margin-top: 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.AdmInput {
    display: flex;
    justify-content: center;
    align-items: center; /* Adicione esta linha para alinhar verticalmente */
  }
  
  .email_Adm_New {
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .salve_adm_Button {
    background-color: #53CFF6;
    border-radius: 3px;
    align-items: center; /* Adicione esta linha para alinhar verticalmente */
    padding: 5px 10px; /* Adicione preenchimento para espaçamento interno */
    cursor: pointer; /* Adicione um cursor ao botão para indicar interatividade */
  }
  
  .emails_exist_admin{
    border: solid #F0F0F0;
    background-color: #F0F0F0;
    margin: 5px 0 5px 0;
    padding: 0 15px 0 10px;
  }


